<h4 class="text-center">Registre-se e mostre seu pet ao mundo!</h4>

<form class="mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="E-mail"
      formControlName="email"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail Obrigatório!"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail no formato incorreto"
    >
    </app-mensagem>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('fullName')?.errors?.['required'] &&
      novoUsuarioForm.get('fullName')?.touched
    "
      mensagem="Nome Obrigatório!"
    ></app-mensagem>
  </div>
  <div class="form-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched
    "
      mensagem="Usuário deve ser em letra minúscula"
    ></app-mensagem>
    <app-mensagem
      *ngIf="
      novoUsuarioForm.get('userName')?.errors?.['usuarioExiste'] &&
      novoUsuarioForm.get('userName')?.touched
    "
      mensagem="Usuário já existe"
    ></app-mensagem>
  </div>
  <div class="form-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
    />
    <app-mensagem
    *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
    mensagem="Senha deve ser diferente do usuário"
  >
  </app-mensagem>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Cadastro</button>
  </div>
</form>

<p class="text-center">Já é um usuário? <a [routerLink]="['']">Login</a></p>
